networks:
    wildweb_network:
        external: false
        name: wildweb_network

services:
    python-backend:
        build: ./python_backend
        ports:
            - '8040:8040'
        depends_on:
            postgres:
                condition: service_healthy
        env_file:
            - .env
        volumes:
            - ./data:/app/data # for config
            - ./python_backend:/app/python_backend # for dev
            - wildweb_build:/app/build # Persistent volume for compiled ABI/BIN files
            - wildweb_uploads:/app/uploads # Persistent volume for uploaded Solidity files
        command:
            [
                'python',
                '/app/python_backend/main.py',
                '--config',
                '/app/data/config.toml',
            ]
        networks:
            - wildweb_network

    frontend:
        build: ./frontend
        ports:
            - '8501:8501'
        depends_on:
            - python-backend
        volumes:
            - ./frontend:/app
        restart: unless-stopped
        environment:
            - BACKEND_URL=http://python-backend:8040
        command:
            [
                'streamlit',
                'run',
                'src/app.py',
                '--server.port',
                '8501',
                '--server.address',
                '0.0.0.0',
            ]
        networks:
            - wildweb_network

    postgres:
        image: postgres:15
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydatabase
        ports:
            - '5432:5432'
        volumes:
            - wildweb_db:/var/lib/postgresql/data
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U myuser -d mydatabase']
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
            - wildweb_network

    pgadmin:
        image: dpage/pgadmin4
        container_name: my_pgadmin
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@example.com
            PGADMIN_DEFAULT_PASSWORD: admin
            PGADMIN_CONFIG_SERVER_MODE: 'False'
            PGADMIN_SERVER_JSON_FILE: '/pgadmin4/servers.json'
        volumes:
            - ./data/servers.json:/pgadmin4/servers.json
            - pgadmin_data:/var/lib/pgadmin
        ports:
            - '5050:80'
        depends_on:
            postgres:
                condition: service_healthy
            # master password: password
        networks:
            - wildweb_network

volumes:
    wildweb_db:
    wildweb_build:
    wildweb_uploads:
    pgadmin_data:
