
networks:
  wildweb_network:
    external: false
    name: wildweb_network

services:
  python-backend:
    build: ./python-backend
    ports:
      - "8040:8040"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    command: ["python", "/app/src/main.py", "--config", "/app/data/config.toml"]
    networks:
      - wildweb_network

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    depends_on:
      - python-backend
    volumes:
      - ./frontend:/app/src
    restart: unless-stopped
    environment:
      - BACKEND_URL=http://python-backend:8040
    command: ["streamlit", "run", "/app/src/app.py", "--server.port", "8501", "--server.address", "0.0.0.0"]
    networks:
      - wildweb_network
